{%load staticfiles %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <script src="https://kit.fontawesome.com/fbf6796863.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <title> </title>
        <style>
        /* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
        </style>
    </head>
    <body>
        <div  class="">



            <!--Second nav bar-->
            <nav class="navbar navbar-expand-lg navbar-light p-0 bg-white">
                <div class="container">
                    <a class="navbar-brand m-0" href="#">
                        <img src="{% static 'images/logo.png' %}" alt="logo" height="110" width="90">
                    </a>
                    <div class="nav-item">
                        <h3> Government of  <br> Madhya Pradesh</h3>
                        <strong >Your virtual Police buddy</strong>
                    </div>
                    <ul style="margin-right: 420px;" class="nav justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Option1</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Option2</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Option3</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Option4</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--Second nav bar end-->


            <!--details bar-->
            <nav class="navbar p-0" style="background-color:#FFED75;">
                <div class="container">
                    <a class="nav-item mt-2 mb-2" style="color:#B51714; font-weight: 700; font-size: 14px; " href="#">
                        Helpline Number :+91-11-23978046
                    </a>
                    <a class="nav-item mt-2 mb-2" style="color:#B51714; font-weight: 700; font-size: 14px;" href="#">
                        Toll Free : 1075
                    </a>
                    <a class="nav-item mt-2 mb-2" style="color:#B51714; font-weight: 700; font-size: 14px;" href="#">
                        Helpline Email ID : ncov2019@gov.in
                    </a>
                    <a class="nav-item mb-2 mt-2" style="color:#B51714; font-weight: 700; font-size: 14px;" href="#">
                        States & Union Territories (View pdf)
                    </a>
                    <a class="nav-item mb-2 mt-2" style="color:#B51714; font-weight: 700; font-size: 14px;" href="#">
                        Download our app
                    </a>
                </div>
            </nav>
            <!--details bar end-->




            <!--footer start-->

            <!--footer end-->

        </div>


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<!-- <script>
var e = document.getElementById('change');
var option = e.value.text;
print(option)


.setAttribute('id', 'nextstep');</script> -->

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <!-- <title>Complaint Form</title> -->
<!-- </head> -->
<!-- <body> -->
    <div class="container">
        <h4 align="center">Please confirm the details below</h4>
    </div>
    <div class="container">
        <form method="POST" action="" >
            {% csrf_token %}
    <label for="fname">Full Name :</label>
        <input type="text" id="fname" name="firstname" value="{{ data.name }}">
        <label for="lname">Age :</label>
        <input type="text" id="lname" name="lastname" value="{{ data.age }}">

        <label for="fname">Address :</label>
        <input type="text" id="change" value= "{{ data.address }}">
        {{ data.name}}

        <label for="fname">Date of incidence :</label>
        <input type="text"  value="{{ data.date }}">

        <label for="fname">Time of incidence :</label>
        <input type="text"  value="{{ data.time }}">

        <label for="fname">Description of the offence and property carried out :</label>
        <input type="text"  value="{{ data.description }}">

        <label for="fname">Place of incidence :</label>
        <input type="text"  placeholder="Your name..">

        <label for="fname">Name of criminal :</label>
        <input type="text"  placeholder="Your name..">

        <label for="fname">Information about criminal :</label>
        <input type="text"  placeholder="Your name..">

        <label for="fname">Information about victim/witness :</label>
        <input type="text"  placeholder="Your name..">


        <label for="fname">Steps regarding investigation and explanation of delay in regarding information :</label>
        <input type="text"  placeholder="Your name..">

        <!-- <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea> -->

        <input type="submit" value="Confirm">
  <!-- {{ form.as_p }}
  <input type='submit' class="waves-effect waves-light btn" value='submit complaint'/> -->
  </form>
</div>
</body>
</html>
